{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    {% block content %}
    <div class="header-bar">
        <h1>Register</h1>
    </div>
    <div class="class form-body">
        <form action="" method="POST">{% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey; padding: 17px;">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
            <p style="color: red; padding: 0 17px;">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}

            <input style="margin-top: 17px;" type="submit" class="button" value="Register">
            <p style="padding: 15px;">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
    {% endblock %}
    </form>
</body>

</html>