{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
</head>

<body>
    {% block content %}
    <div class="header-bar">
        <a href="{% url 'tasks' %}">
            <h>&#8592;</h> Go Back
        </a>
    </div>
    <h2 style="text-align: center;">Task Detail</h2>
    <p style="text-align: center;">Title: {{task.title}}</p>
    <p style="text-align: center;">Description: {{task.description}}</p>
    {% if task.complete %}
    <p style="text-align: center;">Complete: Yes</p>
    {% else %}
    <p style="text-align: center;">Complete: No</p>
    {% endif %}
    <br>
    {% endblock %}

</body>

</html>